@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #12100C;
  background-color: #F5F3F4;
}

.test {
  font-weight: 600;
  font-size: 54px;
}

.container {
  max-width: 1330px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  margin-top: 28px;
  margin-bottom: 140px;
  padding: 0 32px;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
}

.header_nav-link {
  color: #12100C;
  opacity: 70%;
}

.header_button {
  background-color: #12100C;
  padding: 12px 23px;
  border-radius: 12px;
}
.header_button a {
  color: #f9f9f9;
}

.section_code {
  margin-bottom: 170px;
}
.section_code .code_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_code .code_inner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section_code .code_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.section_code .code_box h1 {
  font-size: 80px;
  font-weight: 600;
}
.section_code .code_box p {
  color: rgba(18, 16, 12, 0.7);
}
.section_code .code_box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_code .code_box-inner button {
  background-color: #FFAE33;
  padding: 12px 46px;
  border-radius: 16px;
}
.section_code .code_box-inner button a {
  color: #12100C;
  font-weight: 600;
  font-size: 18px;
}
.section_code .code_box .code_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.modalLogin {
  display: none;
}
.modalLogin.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 90%;
  height: 50%;
}
.modal-content button {
  background-color: #FFAE33;
  padding: 12px 23px;
  border-radius: 12px;
  color: #f9f9f9;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.modal-content h3 {
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
  font-weight: 600;
  color: #FFAE33;
}
.modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.modal-content form input {
  border: 1px #12100C;
  padding-top: 10px;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  float: right;
  font-size: 24px;
}
.close-btn:hover {
  opacity: 0.7;
}

.project {
  margin-bottom: 150px;
}
.project_title {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
}
.project_text {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  color: #999795;
  font-weight: 400;
}
.project_subtitle {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
}

.developers {
  margin-bottom: 150px;
}
.developers_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.developers_title {
  font-size: 32px;
  color: #12100C;
}
.developers_text {
  font-size: 24px;
  opacity: 70%;
  padding-top: 8px;
  max-width: 648px;
}
.developers_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 150px;
}
.developers_btn-more {
  background-color: #FFAE33;
  padding: 9px 18px;
  border-radius: 10px;
}
.developers_btn-more a {
  color: #12100C;
}
.developers_btn-doc {
  background-color: #FFB0AE;
  padding: 9px 18px;
  border-radius: 10px;
}
.developers_btn-doc a {
  color: #12100C;
}

.design {
  margin-bottom: 175px;
}
.design_title {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  padding-bottom: 50px;
}
.design_text {
  font-size: 24px;
  opacity: 70%;
  padding-top: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 877px;
}
.design img {
  display: block;
  margin: 0 auto;
}
.design_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  gap: 16px;
  margin-top: 50px;
}
.design_buttons button {
  background-color: #fff;
  border-radius: 10px;
  color: #12100C;
  font-size: 18px;
}

.modal_try {
  display: none;
}
.modal_try.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, 0.6);
}
.modal_try-inner {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  height: 50%;
}
.modal_try-inner h3 {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
}
.modal_try-inner p {
  font-size: 24px;
  opacity: 70%;
  max-width: 380px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}
.modal_try-inner button {
  background-color: #FFAE33;
  padding: 12px 23px;
  border-radius: 12px;
  color: #f9f9f9;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.modal_try-inner span {
  cursor: pointer;
  float: right;
  font-size: 24px;
}

.user {
  margin-bottom: 160px;
}
.user_title {
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  margin-bottom: 60px;
}
.user_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 0 60px 20px 60px;
  overflow-y: hidden;
}
.user_box {
  background-color: #FFFFFF;
  border-radius: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 500px;
  padding-right: 25px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.user_box:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}
.user_box-subtitle {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  padding: 20px 20px 20px 0;
}
.user_box-text-number {
  padding: 20px 0 10px 20px;
}
.user_box-text {
  padding: 0 0 14px 20px;
}
.user_box-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}
.user_box-image h5 {
  padding-left: 7px;
  font-weight: 600;
}
.user_subtitle-link {
  cursor: pointer;
  font-weight: 600;
  color: #12100C;
}

.icons {
  margin-bottom: 160px;
}
.icons_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}