@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixin', 'normilize', 'variable';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #12100C;
}

.test {
    @include section-title();
}

.container {
    max-width: 1330px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-top: 28px;
    margin-bottom: 140px;
    padding: 0 32px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-list {
    display: flex;
    gap: 0 50px;
}

.header_nav-link {
    color: #12100C;
    opacity: 70%;
}

.header_button {
    background-color: #12100C;
    padding: 12px 23px;
    border-radius: 12px;

    a {
        color: #f9f9f9;
    }
}

// section code

.section_code {
    margin-bottom: 170px;

    .code_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__box {
            display: flex;
        }
    }

    .code_box {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 80px;
            font-weight: 600;
        }

        p {
            color: rgba(18, 16, 12, 0.7);
        }

        &-inner {
            display: flex;
            gap: 24px;
            align-items: center;

            button {
                background-color: $color-white;
                padding: 12px 46px;
                border-radius: 16px;

                a {
                    color: $color-black;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }

        .code_images {
            display: flex;
            gap: 28px;
        }
    }
}

// модальное окно login

.modalLogin {
    display: none; 
    
    &.active { 
        display: flex; 
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    height: 50%;

    button {
        background-color: $color-white;
        padding: 12px 23px;
        border-radius: 12px;
        color: #f9f9f9;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    h1 {
        text-align: center;
        font-size: 24px;
        padding-top: 5px;
        font-weight: 600;
        color: $color-white;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        input {
            border: 1px $color-black;
            padding-top: 10px;
            text-align: center;
        }
    }
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 24px;
    
    &:hover {
        opacity: 0.7;
    }
}

// section project 

.project {
    margin-bottom: 150px;

    &_title {
        @include section-title;
        text-align: center;
    }

    &_text {
        @include section-title;
        text-align: center;
        color: #999795;
        font-weight: 400;
    }

    &_subtitle {
        @include section-title;
        text-align: center;
    }
}