@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixin', 'normilize', 'variable';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #12100C;
}

.test {
    @include section-title();
}

.container {
    max-width: 1330px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-top: 28px;
    margin-bottom: 140px;
    padding: 0 32px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-list {
    display: flex;
    gap: 0 50px;
}

.header_nav-link {
    color: #12100C;
    opacity: 70%;
}

.header_button {
    background-color: #12100C;
    padding: 12px 23px;
    border-radius: 12px;

    a {
        color: #f9f9f9;
    }
}

// section code

.section_code {
    margin-bottom: 170px;

    .code_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__box {
            display: flex;
        }
    }

    .code_box {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 80px;
            font-weight: 600;
        }

        p {
            color: rgba(18, 16, 12, 0.7);
        }

        &-inner {
            display: flex;
            gap: 24px;
            align-items: center;

            button {
                background-color: $color-white;
                padding: 12px 46px;
                border-radius: 16px;

                a {
                    color: $color-black;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }

        .code_images {
            display: flex;
            gap: 28px;
        }
    }
}
