@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'mixin', 'normilize', 'variable';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #12100C;
    background-color: #F5F3F4;
}

.test {
    @include section-title();
}

.container {
    max-width: 1330px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-top: 28px;
    margin-bottom: 140px;
    padding: 0 32px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-list {
    display: flex;
    gap: 0 50px;
}

.header_nav-link {
    color: #12100C;
    opacity: 70%;
}

.header_button {
    background-color: #12100C;
    padding: 12px 23px;
    border-radius: 12px;

    a {
        color: #f9f9f9;
    }
}

// section code

.section_code {
    margin-bottom: 170px;

    .code_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__box {
            display: flex;
        }
    }

    .code_box {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 80px;
            font-weight: 600;
        }

        p {
            color: rgba(18, 16, 12, 0.7);
        }

        &-inner {
            display: flex;
            gap: 24px;
            align-items: center;

            button {
                background-color: $color-white;
                padding: 12px 46px;
                border-radius: 16px;

                a {
                    color: $color-black;
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }

        .code_images {
            display: flex;
            gap: 28px;
        }
    }
}

// модальное окно login

.modalLogin {
    display: none; 
    
    &.active { 
        display: flex; 
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    height: 50%;

    button {
        background-color: $color-white;
        padding: 12px 23px;
        border-radius: 12px;
        color: #f9f9f9;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    h3 {
        text-align: center;
        font-size: 24px;
        padding-top: 5px;
        font-weight: 600;
        color: $color-white;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        input {
            border: 1px $color-black;
            padding-top: 10px;
            text-align: center;
        }
    }
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 24px;
    
    &:hover {
        opacity: 0.7;
    }
}

// section project 

.project {
    margin-bottom: 150px;

    &_title {
        @include section-title;
        text-align: center;
    }

    &_text {
        @include section-title;
        text-align: center;
        color: #999795;
        font-weight: 400;
    }

    &_subtitle {
        @include section-title;
        text-align: center;
    }
}

// section developers

.developers {
    margin-bottom: 150px;

    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_title {
        font-size: 32px;
        color: $color-black;
    }

    &_text {
        @include section-text;
        padding-top: 8px;
        max-width: 648px;
    }

    &_row {
        display: flex;
        gap: 16px;
        margin-top: 150px;
    }

    &_btn-more {
        background-color: $color-white;
        padding: 9px 18px;
        border-radius: 10px;

        a {
            color: $color-black;
        }
    }

    &_btn-doc {
        background-color: $color-pink;
        padding: 9px 18px;
        border-radius: 10px;

        a {
            color: $color-black;
        }
    }
}

// section design

.design {
    margin-bottom: 175px;
    
    &_title {
        @include section-title;
        text-align: center;
        padding-bottom: 50px;
    }

    &_text {
        @include section-text;
        padding-top: 50px;
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 877px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    &_buttons {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        gap: 16px;
        margin-top: 50px;
        
        button {
            background-color: #fff;
            border-radius: 10px;
            color: $color-black;
            font-size: 18px;
        }
    }
}

// modal try 
.modal_try {
    display: none;

    &.active {
        display: flex; 
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1,0,0,0.6);
    }

    &-inner {
        background: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        max-width: 500px;
        width: 100%;
        height: 50%;

        h3 {
            @include section-title;
            text-align: center
        }

        p {
            @include section-text;
            max-width: 380px;
            display: block;
            margin: 0 auto;
            text-align: center;
            padding: 10px 0;
        }

        button {
            background-color: $color-white;
            padding: 12px 23px;
            border-radius: 12px;
            color: #f9f9f9;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
        }

        span {
            cursor: pointer;
            float: right;
            font-size: 24px;
        }
    }
}

// section user

.user {
    margin-bottom: 160px;

    &_title {
        @include section-title;
        text-align: center;
        margin-bottom: 60px;
    }

    &_inner {
        display: flex;
        gap: 24px;
        padding: 0 60px 20px 60px;
        overflow-y: hidden;
    }

    &_box {
        background-color: #FFFFFF;
        border-radius: 15px;
        flex-shrink: 0;
        max-width: 500px;
        padding-right: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            transform: translateY(-10%);
        }
    }


    &_box-subtitle {
        max-width: 300px;
        display: block;
        margin: 0 auto;
        padding: 20px 20px 20px 0;
        
    }
    

    &_box-text-number {
        padding: 20px 0 10px 20px;
    }

    &_box-text {
        padding: 0 0 14px 20px;
    }

    &_box-image {
        display: flex;
        padding-left: 20px;

        h5 {
            padding-left: 7px;
            font-weight: 600;
        }
    }

    &_subtitle-link {
        cursor: pointer;
        font-weight: 600;
        color: $color-black;
    }
}

// icons

.icons {
    margin-bottom: 160px;

    &_inner {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        align-items: center; 
        max-width: 1200px;                         
        margin: 0 auto;   
    }
}